.home-container{
	margin: 5px;
	padding: 5px;
	place-items: center;
	position: absolute;
    text-align: center;
	top: 10%;
	left: 50%;
  	transform: translate(-50%, -50%);
}

button {
	margin: 5px;
}